.DS_Store
node_modules
/packages/**/dist/
!/projects/
/projects/*
!/projects/esri-leaflet-example/
!/projects/leaflet-example/
!/projects/esri-example/
!/projects/examples/
/dist
robots.txt
src.zip
_bak

/tests/e2e/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.INTERNALREADME.md
TODO
